body {
  font-family: $fontBasic;
  background-color: #111827;
}

.loginAdmin {
  @include flexCenter;
  @include minHeight;
  flex-direction: column;
  form {
    @include cuadrado(360px, 300px);
    display: flex;
    justify-items: center;
    flex-direction: column;
    position: relative;

    border-radius: 5px;
    border: 1px solid rgba(#6366f1, 0.5);
    padding: 10px 20px;

    h1 {
      margin: 0;
      padding: 0;

      font-weight: 700;
      color: #e5e7eb;
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
    }
    input {
      width: 100%;
      margin-bottom: 20px;
      height: 40px;
      border-radius: 5px;
      padding: 10px 5px;
      border: 1px solid rgba(#6366f1, 0.5);
      background-color: transparent !important;
      

      &[type="submit"] {
        background-color: #6366f1 !important;
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        color: #fff !important;
        &:hover {
          background-color: #4f46e5 !important;
          cursor: pointer;
        }
      }
    }
  }
}
