$colorBorder: 1px solid #ffffff80;
$transicion500msLineal: all 500ms;

$transicion500ms: all 500ms ease;
$blur: blur(5px);

$blueGG: #0d6efd;
$redGG: #e52361;
$bgBody: #330083;


$fontBasic: "Lato", "Crete Round", sans-serif;
$fontTitle: "Crete Round", "Lato", sans-serif;

$colorIconos: #fff;
