<%- include('../components/layout/head.ejs', {title: 'hola'}) -%>

<h1>
  <a href="/login" style="text-align: center; display: inline-block;color: aliceblue;">login</a>
</h1>

<%- include('../components/layout/bodyEnd.ejs') -%>
