body {
  font-family: "Lato", "Crete Round", sans-serif;
  background-color: #111827;
}

.loginAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.loginAdmin form {
  height: 300px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(99, 102, 241, 0.5);
  padding: 10px 20px;
}
.loginAdmin form h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.loginAdmin form input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 5px;
  border: 1px solid rgba(99, 102, 241, 0.5);
  background-color: transparent !important;
}
.loginAdmin form input[type="submit"] {
  background-color: #6366f1 !important;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  color: #fff !important;
}
.loginAdmin form input[type="submit"]:hover {
  background-color: #4f46e5 !important;
  cursor: pointer;
}

.allProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.allProduct header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}
.allProduct header h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #e5e7eb;
  font-size: 18px;
}
.allProduct header button {
  background-color: #6366f1;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
}
.allProduct header button:hover {
  background-color: #4f46e5;
  cursor: pointer;
}
.allProduct .containerProduct {
  width: 90%;
}
.allProduct .containerProduct a {
  color: #fff;
}
.allProduct .containerProduct table {
  width: 100%;
  text-align: left;
  background-color: #fff;
  border-radius: 5px;
  border-collapse: collapse;
  border: 1px solid rgba(99, 102, 241, 0.5);
  /* min-height: 70vh; */
  overflow: hidden;
}
.allProduct .containerProduct table thead {
  background-color: #6366f1;
  color: #fff;
  font-weight: 700;
}
.allProduct .containerProduct table td,
.allProduct .containerProduct table th {
  padding: 10px 10px;
}
.allProduct .containerProduct table tbody tr {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}
.allProduct .containerProduct table tbody tr a {
  color: #000;
}
.allProduct .containerProduct table tbody tr.delete {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}
.allProduct .containerProduct table tbody tr img {
  height: 25px;
  width: 25px;
  display: inline;
  margin-right: 10px;
  border-radius: 50%;
}
.allProduct .containerProduct table tbody tr:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

.newProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.newProduct .container {
  width: 80%;
}
.newProduct .container form {
  width: 100%;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.newProduct .container form .containerImg {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  gap: 10px;
}
.newProduct .container form .containerImg .imgPrimaria .input,
.newProduct .container form .containerImg .imgSecundarias .input {
  background-color: #1f2937;
  border-radius: 5px;
  overflow: hidden;
}
.newProduct .container form .containerImg .imgPrimaria * {
  min-height: 450px;
  max-height: 800px;
  width: 100%;
}
.newProduct .container form .containerImg .imgSecundarias * {
  aspect-ratio: 5/5;
  width: 100%;
}
.newProduct .container form .containerImg .input label {
  border: 5px dashed rgba(211, 211, 211, 0.6);
  width: 100%;
  display: block;
}
.newProduct .container form .containerImg .input label img {
  -o-object-fit: cover;
     object-fit: cover;
}
.newProduct .container form .containerImg .input label img:empty {
  display: none;
}
.newProduct .container form .containerImg .input input[type="file"] {
  visibility: hidden;
  display: none;
}
.newProduct .container form .containerImg .imgSecundarias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 10px;
}
@media screen and (max-width: 360px) {
  .newProduct .container form .containerImg .imgSecundarias {
    grid-template-columns: repeat(auto-fit, minmax(95vw, 1fr));
  }
}
.newProduct .container form .containerInfo {
  border: 1px solid rgba(99, 102, 241, 0.5);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.newProduct .container form .containerInfo label {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #282828;
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
}
.newProduct .container form .containerInfo textarea {
  max-height: 85px;
  min-height: 85px;
}
.newProduct .container form .containerInfo input, .newProduct .container form .containerInfo textarea, .newProduct .container form .containerInfo select {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 5px;
  border: 1px solid rgba(99, 102, 241, 0.5);
  color: #1f2937;
}
.newProduct .container form .containerInfo input[type="submit"], .newProduct .container form .containerInfo textarea[type="submit"], .newProduct .container form .containerInfo select[type="submit"] {
  background-color: #6366f1;
  bottom: 20px;
  width: 100%;
}
.newProduct .container form .containerInfo input[type="submit"]:hover, .newProduct .container form .containerInfo textarea[type="submit"]:hover, .newProduct .container form .containerInfo select[type="submit"]:hover {
  background-color: #4f46e5;
  cursor: pointer;
}

.newProduct.update .container form .containerImg .input label {
  border: none;
}
.newProduct.update .container form .containerImg .input label img {
  -o-object-fit: cover;
     object-fit: cover;
}
.newProduct.update .container form .containerImg .input label img:empty {
  display: initial;
}

header.dashboard {
  background-color: #1f2937;
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
}
header.dashboard .container {
  width: 90%;
}
header.dashboard .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  gap: 40px;
}
header.dashboard .container ul li a {
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: calc(100% + 30px);
  border-radius: 5px;
}
header.dashboard .container ul li a.active {
  background-color: #4f46e5;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
