body {
  background-color: #1c0049;
  font-family: "Lato", "Crete Round", sans-serif;
}

.loginAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}
.loginAdmin #formAdmin {
  height: 300px;
  width: 360px;
  border: 1px solid #ffffff80;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #2f0064;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.loginAdmin #formAdmin h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.loginAdmin #formAdmin .containerInput label {
  display: block;
  margin-bottom: 5px;
}
.loginAdmin #formAdmin .containerInput input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ffffff80;
}
.loginAdmin #formAdmin #sendForm {
  position: absolute;
  bottom: 20px;
  -ms-flex-item-align: center;
      align-self: center;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
