<%- include("./nav.ejs", {activeNavItem: "categoria"}) %>

<main class="allProduct">
  <div class="containerProduct">
    <header>
      <h2>all Product</h2>
      <button onclick="addElement()">add categorie</button>
    </header>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>

          <th>action</th>
        </tr>
      </thead>

      <tbody id="tbody">
        <% datos.forEach(function(categoria) { %>

        <tr>
          <td><%= categoria.dataValues.id %> %></td>
          <td><%= categoria.dataValues.nombre %></td>
          <td>
            <button id="<%= categoria.id %>" onclick="updateCategorie()">
              edit
            </button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</main>

<script>
  const addElement = () => {
    const id = $("tbody").children.length + 1;
    const name = prompt("ingrese el nombre de la categoria");

    data = {
      id,
      nombre: name,
    };

    //creame un fetch que me mande a la ruta /db/new-categoria
    fetch("/db/new-categoria", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });

    $("tbody").innerHTML += `<tr>
                                <td>${id}</td>
                                <td>${name}</td>
                                <td>
                                <button id="${id}" onclick="updateCategorie()">
                                  edit
                                </button>
                              </td>
                            </tr>`;
  };

  const updateCategorie = () => {
    const id = document.activeElement.id;

    const name = prompt("ingrese el nombre de la categoria");

    data = {
      id,
      nombre: name,
    };

    //creame un fetch que me mande a la ruta /db/new-categoria
    fetch(`/db/update-categoria/${id}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    }).then((res) => {
      console.log();

      let newTR = document.activeElement.parentNode.parentNode;
      newTR.children[1].innerHTML = name;
    });
  };
</script>
