<!-- nav -->

<header class="dashboard">
  <div class="container">
    <ul>
      <li><a href="/admin" class="active">All Product</a></li>
      <li><a href="#">more link</a></li>
      <li><a href="#">more link</a></li>
      <li><a href="#">more link</a></li>
    </ul>
  </div>
</header>
