<%- include("./nav.ejs", {activeNavItem: "inicio"}) %>

<div class="newProduct">
  <div class="container">
    <form action="/db/new-producto" method="post" enctype="multipart/form-data">
      <div class="containerImg">
        <div class="imgPrimaria">
          <div class="input" onchange="cargarImagen(event)">
            <label for="img1">
              <input type="file" name="img1" id="img1" /> <img src="" alt=""
            /></label>
          </div>
        </div>
        <div class="imgSecundarias">
          <div class="input" onchange="cargarImagen(event)">
            <label for="img2">
              <input type="file" name="img2" id="img2" /> <img src="" alt=""
            /></label>
          </div>
          <div class="input" onchange="cargarImagen(event)">
            <label for="img3"
              ><input type="file" name="img3" id="img3" /> <img src="" alt=""
            /></label>
          </div>
          <div class="input" onchange="cargarImagen(event)">
            <label for="img4">
              <input type="file" name="img4" id="img4" /> <img src="" alt=""
            /></label>
          </div>
        </div>
      </div>
      <div class="containerInfo">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required />

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" rows="3"></textarea>

        <label for="codigo">Código:</label>
        <input type="text" name="codigo" id="codigo" required />

        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio" required />

        <label for="categoria">Categoría:</label>
        <select name="categoria" id="categoria">
          <% categorias.forEach(function(categoria) { %>
          <option value="<%= categoria.dataValues.id %>">
            <%= categoria.dataValues.nombre %>
          </option>
          <% }); %>
        </select>

        <input type="submit" value="Crear Producto" />
      </div>
    </form>
  </div>
</div>

<script>
  /* Enviar el formulario */
  document.querySelector("form").addEventListener("submit", (e) => {
    e.preventDefault(); // Evita la recarga de la página

    let formData = new FormData();

    // Agrega cada archivo al FormData
    formData.append("img1", $("img1").files[0]);
    formData.append("img2", $("img2").files[0]);
    formData.append("img3", $("img3").files[0]);
    formData.append("img4", $("img4").files[0]);

    formData.append("nombre", $("nombre").value);
    formData.append("descripcion", $("descripcion").value);
    formData.append("codigo", $("codigo").value);
    formData.append("precio", $("precio").value);
    formData.append("categoria", $("categoria").value);

    const imgs = [
      { name: $("img1").files[0].name, destacada: true },
      { name: $("img2").files[0].name, destacada: false },
      { name: $("img3").files[0].name, destacada: false },
      { name: $("img4").files[0].name, destacada: false },
    ];

    formData.append("imgs", JSON.stringify(imgs));

    fetch("/db/new-producto", {
      method: "POST",
      body: formData, // Utiliza el FormData para enviar archivos
    })
      .then((response) => {
        console.log("Success:", response);

        if(response.status === 201) window.location.href = "/admin";
        // Puedes redirigir o realizar otras acciones después de completar la carga
      })
      .catch((error) => console.error("Error:", error));
  });

  const cargarImagen = (event) => {
    const nodo = $(event.target.id).parentNode;

    const input = event.target;
    const imagePreview = nodo.querySelector("img");

    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        imagePreview.src = e.target.result;
      };

      nodo.style.border = "none";
      imagePreview.style.display = "block";

      reader.readAsDataURL(input.files[0]);
    } else {
      imagePreview.src = ""; // Si no se selecciona ningún archivo, borra la imagen
    }
  };
</script>
